.loginForm,
.registerForm,
.newProductForm {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  width: 30vw;
  border-radius: 2em;
  color: black;
  padding: 20px;
  div,
  button {
    margin: 10px;
    color: white;
  }
  h2 {
    color: white;
  }
}

a {
  color: white;
  margin: 5px;
}

.cart-layout {
  color: white;

  .cart-item-info {
    color: black;
  }
}

.img-container {
  height: 400px;
  width: 500px;
  object-fit: cover;
}

.checkout {
  display: flex;
  flex-direction: row;

  .checkout-summary {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 500px;
  }

  .checkout-details {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 500px;
  }

  .checkout-shipping {
    width: 300px;
    display: flex;
    align-items: center;
    animation: 0.5s ease-in-out alternate slidein;

    sub {
      font-family: var(--base-font-family);
      color: green;
    }
  }
}

.about {
  font-size: 1.2em;
  width: 70%;
  text-align: start;
}

.shop-layout {
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;

  html,
  body {
    height: 100%;
  }

  body {
    display: table;
    width: 100%;
    height: 100%;
    background-color: #171717;
    color: #000;
    line-height: 1.6;
    position: relative;
    font-family: sans-serif;
    overflow: hidden;
  }

  .lines {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    margin: auto;
    width: 90vw;
    z-index: -1;
  }

  .line {
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 50%;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
  }
  .line::after {
    content: "";
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      #ffffff 75%,
      #ffffff 100%
    );
    -webkit-animation: drop 7s 0s infinite;
    animation: drop 7s 0s infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
  }
  .line:nth-child(1) {
    margin-left: -25%;
  }
  .line:nth-child(1)::after {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }
  .line:nth-child(3) {
    margin-left: 25%;
  }
  .line:nth-child(3)::after {
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
  }

  @-webkit-keyframes drop {
    0% {
      top: -50%;
    }
    100% {
      top: 110%;
    }
  }

  @keyframes drop {
    0% {
      top: -50%;
    }
    100% {
      top: 110%;
    }
  }
}

.order-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  table {
    width: fit-content;
  }
}

.pre-launch {
  h2 {
    font-family: var(--base-font-family);
  }
}

.product-layout {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .img-container {
    flex: 1;
    padding: 10px;
    border-radius: 2em;
    height: 100%;
    max-height: 80vh;
  }

  .product-details {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    background-color: white;
    border-radius: 2em;
    height: 100%;
    color: black;

    .productColours {
      display: flex;
      flex-direction: row;
      justify-content: left;

      .colourChild {
        border: 1px solid black;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        margin: 0.5vh;
        cursor: pointer;
      }

      .colourChildActive {
        border: 1px solid black;
        border-radius: 5px;
        width: 40px;
        height: 40px;
        margin: 0.5vh;
      }
    }
    .p-size {
      display: flex;
      label {
        transform: translateX(-1.5%);
      }
    }
  }
}

.price {
  margin: 0;
  padding: 0;
}

.profile {
  display: flex;
  flex-direction: row;
  width: 100%;
  .profile-nav {
    display: flex;
    flex-direction: column;
    flex: 0.3;

    .nav-item {
      background-color: white;
      border-radius: 2em;
      color: black;
      height: 50px;
      width: 300px;
      padding: 20px;
      margin: 10px;
      justify-content: center;
      align-items: center;
      display: flex;
      font-size: 1.5em;
      cursor: pointer;
    }

    .nav-item-active {
      background-color: gray;
      border-radius: 2em;
      color: black;
      height: 50px;
      width: 300px;
      padding: 20px;
      margin: 10px;
      justify-content: center;
      align-items: center;
      display: flex;
      font-size: 1.5em;
    }
  }

  .profile-details {
    display: flex;
    flex: 0.6;
    flex-direction: column;
    padding: 20px;
    border-radius: 2em;
    min-width: 300px;
    align-items: center;
    color: white;
    animation: ease-in-out alternate 1s fadeIn;

    div {
      margin: 5px;
      width: 400px;
      color: white;

      label {
        color: white;
      }
    }
  }
}

.privacy,
.returns {
  text-align: left;
  width: 80%;
  * {
    margin: 0;
  }
  h2 {
    margin: 10px 0px;
  }
  h3 {
    margin: 5px 0;
  }
}

.order-details {
  align-items: center;
  width: 100%;
  animation: ease-in-out alternate 1s fadeIn;

  .orders-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .order {
      background-color: white;
      color: black;
      margin: 20px;
      height: auto;
      width: 300px;
      border-radius: 2em;
      padding: 20px;

      .order-item {
        img {
          height: 100px;
        }
      }
    }
  }
}

.address-details {
  align-items: center;
  width: 100%;
  animation: ease-in-out alternate 1s fadeIn;
}

@keyframes slidein {
  from {
    width: 400px;
    opacity: 0;
  }

  to {
    width: 300px;
    opacity: 100;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .shop-layout {
    flex-direction: column;
    align-items: center;
  }
  .product-layout {
    flex-direction: column;
    align-items: center;

    .img-container {
      max-width: 90vw;
    }
  }

  .checkout {
    flex-direction: column;
    max-width: 100vw;
    align-items: center;
    .checkout-summary {
      width: 100%;
    }
    .checkout-details {
      width: 100%;
    }
  }

  .profile {
    width: 100%;
    flex-direction: column;
    .profile-nav {
      width: 100%;
      flex: 1;
      flex-direction: row;
      justify-content: center;
      .nav-item {
        background-color: white;
        border-radius: 1em;
        color: black;
        height: 10px;
        width: 30px;
        padding: 20px;
        margin: 5px;
        justify-content: center;
        align-items: center;
        display: flex;
        font-size: 1em;
        cursor: pointer;
      }
      .nav-item-active {
        background-color: gray;
        border-radius: 1em;
        color: black;
        height: 10px;
        width: 30px;
        padding: 20px;
        margin: 5px;
        justify-content: center;
        align-items: center;
        display: flex;
        font-size: 1em;
      }
    }

    .profile-details {
      flex: 1;
      width: 100%;
      padding: 0;
      margin: 0;
      align-items: center;
      div {
        width: 90%;
      }
    }
  }
}
