footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-bg);
  color: white;
  font-weight: bold;
  flex-direction: row;

  a {
    color: white !important;
    text-decoration: none !important;
    margin: 0 20px !important;
  }
}
