@font-face {
  font-family: br;
  src: url(./assets/fonts/br.TTF);
}

@font-face {
  font-family: fa;
  src: url(./assets/fonts/futura.ttf);
}

@font-face {
  font-family: bcode;
  src: url(./assets/fonts/BarcodeFont.ttf);
}

:root {
  --header-height: 50px;
  --footer-height: 50px;
  --dark-bg: black;
  --base-font-family: br;
  --default-font-family: fa;
}
body {
  margin: 0;
  font-family: var(--default-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  height: var(--header-height);
}

footer {
  min-height: var(--footer-height);
}

main {
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100vw;
}
